<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="scss/_utilities.scss.">
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    

    <div class="container mt-5">
        <div class="nav-bar navbar navbar-dark" style="margin-right: 7rem;">
            <a class="nav-btn navbar-brand" href="/home">HOME</a>
            <a class="nav-btn navbar-brand" href="/about">ABOUT</a>
            <a class="nav-btn navbar-brand" href="/contact">CONTACT</a>
            <!-- <a class="nav-btn navbar-brand" href="/allAppointments">ADMIN</a>
            <a class="nav-btn navbar-brand" href="/servicesList">ADMIN SERVICES</a> -->
        </div><br><br>
        <div class="row" style="color: white; margin-left: 10rem;">
           
    
            <div class="col-md-6">
                <div class="service-info">

                  
                   
These services are provided by a doctor specializing in women's health:

Obstetrics: Management of pregnancy, childbirth, and postpartum care.
Gynecology: Diagnosis and treatment of conditions related to the female reproductive system.
Family Planning: Counseling and provision of contraceptive methods to help individuals plan their desired family size and spacing.
Prenatal Care: Healthcare and support provided to pregnant individuals to ensure a healthy pregnancy outcome.
Menopause Management: Support and treatment options to alleviate symptoms associated with menopause, such as hot flashes, mood changes, and osteoporosis.
                </div>
            </div>
            <div class="col-md-6">
                <div class="contact-info">
                    <h3 style="color: gray;">Contact Us</h3 >
                    <ul class="list-unstyled" style="color: gray;">
                        <li><i class="fas fa-phone"></i> Phone: <a href="tel:+1-876-555-1234" >+1 (876) 555-1234</a></li>
                        <li><i class="fas fa-envelope"></i> Email: <a href="mailto:info@drkaydieholness.com">info@drkaydieholness.com</a></li>
                    </ul>
                    <a href="/appointmentInputs" class="btn btn-primary">Book an Appointment</a>
                </div>
            </div>
        </div>
    </div>

    <footer class="bg-dark text-white text-center py-3">
        <p>&copy; 2024 Dr. Kaydie Holness. All rights reserved.</p>
    </footer>

    <script src="https://kit.fontawesome.com/a076d05399.js"></script> <!-- Font Awesome for icons -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>